astroid==1.6.4
awscli==1.11.165
backports.functools-lru-cache==1.5
botocore==1.7.23
Click==7.0
colorama==0.3.7
configparser==3.5.0
docx==0.2.4
enum34==1.1.6
Flask==1.0.2
futures==3.2.0
isort==4.3.4
itsdangerous==1.1.0
Jinja2==2.10
lazy-object-proxy==1.3.1
lxml==4.2.1
MarkupSafe==1.1.0
mccabe==0.6.1
nose==1.3.7
numpy==1.13.1
pdfrw==0.4
Pillow==5.1.0
pyasn1==0.3.7
pylint==1.9.1
selenium==3.12.0
singledispatch==3.4.0.3
six==1.11.0
stevedore==1.25.0
virtualenv-clone==0.2.6
Werkzeug==0.14.1
wrapt==1.10.11
